{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- <div class="content-block head-div">
                    <div class="cb-header">
                        <div class="row">
                            <div class="col-lg-10 col-sm-10 col-xs-8">
                                <ul class="list-inline">
                                    <li>
                                        <a href="/" class="color-active">
                                            <span class="visible-xs">À la une</span>
                                            <span class="hidden-xs">À la une</span>
                                        </a>
                                    </li>
                                    <li>
                                        <!-- TODO: Configurer le bouton autour de moi, ajouter la ville dans le formulaire d'inscription et le formulaire de l'annonce -->
                <!-- <a href="#">Autour de moi</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-xs-4">
                                <div class="btn-group pull-right bg-clean">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Filtrer par <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a onclick="getStatsAndRender('views')"><i
                                                    class="cv cvicon-cv-calender"></i>
                                                Popularité</a></li>
                                        <li><a onclick="getStatsAndRender('date')"><i class="cv cvicon-cv-calender"></i>
                                                Récent</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div> -->

                <div class="cb-content">
                    <div class="row" id="articlelist">
                        <!-- Ici s'affiche tous les articles de la page-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}


{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">

    const labels = {
        "adminsNumber": "Nombre d'admins",
        "articlesNumber": "Nombre d'articles",
        "authorsNumber": "Nombre d'auteurs",
        "averageViews": "Moyenne des vues",
        "count": "Nombre de publications",
        "date": "Dates",
        "publicationsDates": "Publications par date",
        "totalViews": "Total des vues",
        "usersNumber": "Nombre d'utilisateurs",
    };

    Chart.defaults.color = '#FFF';
    Chart.defaults.borderColor = '#36A2EB';

    function getStatsAndRender(option = '') {
        $.ajax({
            url: "/api/stats",
        }).done(function (result) {
            $('#articlelist').empty();
            for (const property in result) {
                if (typeof result[property] === "string") {
                    renderStat(labels[property] ?? property, Number.parseFloat(result[property]).toLocaleString());
                } else {
                    renderChart(property, labels[property] ?? property, result[property]);
                }
            }
        });
    }

    /**
     * TODO: Centrer et agrandir le texte dans la div colorée + changer la couleur de fond */
    function renderStat(labelText, statValue) {
        $('<div class="col-lg-4 col-sm-6 col-xs-12 articleitem" id="article-pattern">' +
            '                                <div class="b-article">' +
            '                                    <div class="v-img bg-primary text-white text-center d-flex align-items-center">' +
            '                                        <p class="display-1">' + statValue + '</p>' +
            '                                    </div>' +
            '                                    <div class="col-sm-9 col-xs-10"><div class="v-desc">' +
            '                                        <p>' + labelText + '</p>' +
            '                                    </div>' +
            '                                    </div>' +
            '                                        <div class="v-views col-sm-3 col-xs-2">' +
            '                                           ' + statValue +
            '                                        </div>' +
            '                                    </div>' +
            '                                </div>')
            .appendTo($('#articlelist'));
    }

    function renderChart(chartName, labelText, data) {
        console.log("avant :", data);
        data = fillDateList(data);
        console.log("après :", data);
        data = truncateData(data);
        $('<div class="col-lg-4 col-sm-6 col-xs-12 articleitem" id="article-pattern">' +
            '                                <div class="b-article">' +
            '                                    <div id="inGeneration" class="v-img bg-primary text-white text-center d-flex align-items-center" style="overflow-x: auto; overflow-y: hidden;">' +
            '                                        <div class="display-1" style="width:2000%; height: 100%;">' +
            '                                           <canvas id="' + chartName + '"></canvas>' +
            '                                        </div>' +
            '                                    </div>' +
            '                                    <div class="col-sm-9 col-xs-10"><div class="v-desc">' +
            '                                        <p>' + labelText + '</p>' +
            '                                    </div>' +
            '                                </div>')
            .appendTo($('#articlelist'));

        const ctx = document.getElementById(chartName);
        console.log(ctx);
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: data.map(e => new Date(e.date).toLocaleDateString()),
                datasets: [{
                    label: labels[chartName],
                    data: data.map(e => e.count), //.map(e => ({ "x": new Date(e.date), "y": e.count })),
                    // borderWidth: 0,
                    borderColor: '#FFFFFF',
                    backgroundColor: '#FFFFFF'
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                console.log((365 - context.parsed.x) * 86400000);
                                return `Publications le ${new Intl.DateTimeFormat("fr", {dateStyle: "full"}).format(new Date(new Date() - (365 - context.parsed.x) * 86400000))} : ${context.parsed.y}`;
                            }
                        }
                    }
                },
                scales: {
                    y: {
                        ticks: {
                            precision: 0
                        }

                    }
                },
            }
        });
        inGeneration.scrollLeft = inGeneration.scrollWidth;
        inGeneration.removeAttribute("id");
    }

    function fillDateList(data) {
        let minimumTS = Math.min(...data.map(e => new Date(e.date) / 86400000));
        let maximumTS = new Date() / 86400000;
        let filledDateList = [];
        for (i = 0; i < maximumTS - minimumTS; i++) {
            filledDateList[i] = { date: (minimumTS + i) * 86400000, count: 0 };
            // filledDateList[i] = 0;
        }
        console.log(filledDateList)
        data.forEach(e => {
            filledDateList[new Date(e.date) / 86400000 - minimumTS].count = Number.parseInt(e.count);
            // filledDateList[new Date(e.date) / 86400000 - minimumTS] = Number.parseInt(e.count);
            if (new Date(e.date) / 86400000 - minimumTS < 1 || new Date(e.date) / 86400000 - minimumTS > 1820)
                console.log(new Date(e.date) / 86400000 - minimumTS)
        });
        console.log(filledDateList);
        return filledDateList;
    }

    function truncateData(data) {
        return data.splice(data.length - 366);
    }

    $(document).ready(function () {
        getStatsAndRender();
    });
</script>
{% endblock %}