{% extends "base.html" %}

{% block title %}Conditions générales{% endblock %}

{% block body %}

<div class="content-wrapper upload-page edit-page">

    <!-- channel -->
    <div class="container-fluid reglements">
        <div class="row">
            <h1>
                Conditions Générales d'utilisation
            </h1>
        </div>
    </div>
    <!-- ///channel -->

    <div class="container mt-30">
        <p class="paraReglement">
            Bienvenue sur le site "Vide Grenier en Ligne". Les présentes conditions générales d'utilisation 
            (ci-après dénommées "CGU") régissent votre utilisation de notre site web et de nos services connexes 
            (collectivement désignés le "Service"). Veuillez lire attentivement ces CGU avant d'utiliser le Service.
        </p>

        <h3 class="titleReglement">1. Acceptation des conditions générales</h3>
            <p class="paraReglement">
                En utilisant le Service, vous reconnaissez avoir lu, compris et accepté d'être lié par les présentes 
                CGU. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser le Service.
            </p>
        
        <h3 class="titleReglement">2. Description du service</h3>
            <p class="paraReglement">
                "Vide Grenier en Ligne" est une plateforme en ligne qui permet aux utilisateurs de vendre et 
                d'acheter des articles d'occasion lors de vide-greniers virtuels. Le Service facilite les 
                interactions entre les vendeurs et les acheteurs en fournissant une plateforme pour la 
                publication d'annonces, la communication et la finalisation des transactions.
            </p>
            
        <h3 class="titleReglement">3. Utilisation du service</h3>
            <h4 class="soustitleReglement">3.1 Inscription</h4>
                <p class="paraReglement">
                    Pour utiliser certaines fonctionnalités du Service, vous devez créer un compte 
                    et fournir des informations exactes, complètes et à jour. Vous êtes responsable 
                    de la confidentialité de votre compte et de toutes les activités qui s'y déroulent.
                </p>
            <h4 class="soustitleReglement">3.2 Annonces</h4>
                <p class="paraReglement">
                    Lors de la publication d'annonces sur le Service, vous garantissez que les informations 
                    fournies sont précises, véridiques et conformes aux lois applicables. Vous êtes seul 
                    responsable du contenu de vos annonces et de toute transaction conclue avec un autre utilisateur.
                </p>
            <h4 class="soustitleReglement">3.3 Comportement de l'utilisateur</h4>
                <p class="paraReglement">
                    Vous acceptez de ne pas utiliser le Service à des fins illicites, frauduleuses ou d'une manière 
                    qui pourrait nuire à la réputation du Service. Vous vous engagez à respecter les droits 
                    des autres utilisateurs et à ne pas violer les lois en vigueur.
                </p>
        
        <h3 class="titleReglement">4. Propriété intellectuelle</h3>
            <p class="paraReglement">
                Le Service et son contenu, y compris mais sans s'y limiter, les textes, les graphiques, les logos, 
                les images, les vidéos, les sons, les compilations de données et le logiciel, sont la propriété de 
                "Vide Grenier en Ligne" ou de ses concédants de licence. Ils sont protégés par les lois sur la 
                propriété intellectuelle applicables.
            </p>
        
        <h3 class="titleReglement">5. Limitation de responsabilité</h3>
            <p class="paraReglement">
                Dans la mesure permise par la loi, "Vide Grenier en Ligne" décline toute responsabilité 
                quant aux dommages directs, indirects, accessoires, consécutifs ou spéciaux résultant de 
                ou liés à votre utilisation ou incapacité d'utiliser le Service.
            </p>
            
        <h3 class="titleReglement">6. Modifications des CGU</h3>
            <p class="paraReglement">
                "Vide Grenier en Ligne" se réserve le droit de modifier les présentes CGU à 
                tout moment. Les modifications prendront effet dès leur publication sur le Service. 
                Il est de votre responsabilité de consulter régulièrement les CGU pour prendre 
                connaissance des éventuelles mises à jour.
            </p>
        
        <h3 class="titleReglement">7. Loi applicable et juridiction compétente</h3>
            <p class="paraReglement">
                Les présentes CGU sont régies par les lois du France et tout litige découlant de ces 
                conditions sera soumis à la juridiction exclusive des tribunaux compétents de Marseille.
            </p>
    </div>

</div>

{% endblock %}