{% extends "base.html.twig" %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}

<div class="content-wrapper upload-page edit-page">

    <!-- channel -->
    <div class="container-fluid reglements">
        <div class="row">
            <h1>
                Politique de confidentialité
            </h1>
        </div>
    </div>
    <!-- ///channel -->

    <div class="container mt-30">
        <p class="paraReglement">
            Dernière mise à jour : 23/06/2023
        </p>

        <p class="paraReglement">
            La présente politique de confidentialité explique comment "Vide Grenier en Ligne" 
            recueille, utilise, divulgue et protège les informations personnelles que vous nous 
            fournissez lorsque vous utilisez notre site web et nos services (collectivement désignés 
            le "Service"). Veuillez lire attentivement cette politique pour comprendre comment 
            nous traitons vos informations personnelles.
        </p>

        <h3 class="titleReglement">1. Informations personnelles collectées</h3>
            <p class="paraReglement">
                Nous pouvons collecter les types d'informations personnelles 
                suivantes lorsque vous utilisez notre Service :
            </p>
            <ul>
                <li>
                    <p class="paraReglement">
                        Informations d'identification : Nom Prénom, adresse e-mail, ville, identifiant de compte.
                    </p>
                </li>
                <li>
                    <p class="paraReglement">
                        Informations de connexion : Adresse IP, données de connexion, type de navigateur, etc.
                    </p>
                </li>
            </ul>

        
        <h3 class="titleReglement">2. Utilisation des informations personnelles</h3>
            <p class="paraReglement">
                Nous utilisons les informations personnelles collectées aux fins suivantes :
            </p>
            <ul>
                <li>
                    <p class="paraReglement">
                        Fournir et gérer le Service : y compris la création et la gestion de votre compte, 
                        le traitement des transactions, la livraison des produits ou services demandés, 
                        et la communication avec vous concernant le Service.
                    </p>
                </li>
                <li>
                    <p class="paraReglement">
                        Améliorer le Service : analyser l'utilisation du Service, identifier les tendances 
                        et les préférences des utilisateurs, personnaliser votre expérience, et développer 
                        de nouvelles fonctionnalités et améliorations.
                    </p>
                </li>
                <li>
                    <p class="paraReglement">
                        Respecter les obligations légales : nous pouvons être tenus de divulguer vos 
                        informations personnelles dans le cadre d'une procédure légale, en réponse à 
                        une demande d'une autorité gouvernementale ou pour protéger nos droits légaux.
                    </p>
                </li>
            </ul>
            
        <h3 class="titleReglement">3. Protection des informations personnelles</h3>
            <p class="paraReglement">
                Nous mettons en place des mesures de sécurité appropriées pour protéger vos informations 
                personnelles contre tout accès non autorisé, utilisation abusive ou divulgation. 
                Cependant, veuillez noter qu'aucune méthode de transmission sur Internet ou de stockage 
                électronique n'est totalement sécurisée, et nous ne pouvons garantir la sécurité absolue de vos informations.
            </p>
            
        <h3 class="titleReglement">4. Partage des informations personnelles</h3>
            <p class="paraReglement">
                Nous ne vendons, n'échangeons ni ne louons vos informations personnelles à des tiers à des 
                fins de marketing. Cependant, nous pouvons partager vos informations avec des tiers dans les cas suivants :
            </p>
            <ul>
                <li>
                    <p class="paraReglement">
                        Fournisseurs de services : nous pouvons partager vos informations avec des prestataires de 
                        services tiers qui nous aident à exploiter le Service et à fournir les fonctionnalités demandées.
                    </p>
                </li>
                <li>
                    <p class="paraReglement">
                        Respect des lois : nous pouvons être tenus de divulguer vos informations personnelles pour 
                        nous conformer aux lois applicables, aux demandes des autorités gouvernementales ou 
                        pour protéger nos droits légaux.
                    </p>
                </li>
            </ul>
        
        <h3 class="titleReglement">5. Liens vers des sites tiers</h3>
            <p class="paraReglement">
                Notre Service peut contenir des liens vers des sites web tiers. Veuillez noter que nous ne sommes 
                pas responsables de la collecte, de l'utilisation ou de la divulgation de vos informations par ces 
                sites. Nous vous encourageons à lire les politiques de confidentialité de ces sites 
                avant de fournir vos informations personnelles.
            </p>
            
        <h3 class="titleReglement">6. Vos droits</h3>
            <p class="paraReglement">
                Vous avez certains droits concernant vos informations personnelles, notamment :
            </p>
            <ul>
                <li>
                    <p class="paraReglement">
                        Accès et rectification : vous avez le droit d'accéder à vos informations personnelles 
                        et de les corriger si elles sont inexactes ou incomplètes.
                    </p>
                </li>
                <li>
                    <p class="paraReglement">
                        Opposition au traitement : vous pouvez vous opposer au traitement de vos informations 
                        personnelles pour des raisons légitimes.
                    </p>
                </li>
                <li>
                    <p class="paraReglement">
                        Retrait du consentement : si vous avez donné votre consentement pour le traitement de vos 
                        informations personnelles, vous pouvez le retirer à tout moment.
                    </p>
                </li>
            </ul>
        
        <h3 class="titleReglement">7. Modifications de la politique de confidentialité</h3>
            <p class="paraReglement">
                Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. 
                Les modifications prendront effet dès leur publication sur notre site web. Nous vous encourageons 
                à consulter régulièrement cette politique pour prendre connaissance des éventuelles mises à jour.
            </p>
        
        <h3 class="titleReglement">8. Nous contacter</h3>
            <p class="paraReglement">
                Si vous avez des questions ou des préoccupations concernant notre politique de 
                confidentialité, veuillez nous contacter à contact@videgrenierenligne.fr.
            </p>

    </div>

</div>

{% endblock %}