{% extends "base.html" %}

{% block title %}Politique relative aux cookies{% endblock %}

{% block body %}

<div class="content-wrapper upload-page edit-page">

    <!-- channel -->
    <div class="container-fluid reglements">
        <div class="row">
            <h1>
                Politique relative aux Cookies
            </h1>
        </div>
    </div>
    <!-- ///channel -->

    <div class="container mt-30">
        <p class="paraReglement">
            Dernière mise à jour : 23/06/2023
        </p>

        <p class="paraReglement">
            Cette politique relative aux cookies explique comment "Vide Grenier en Ligne" utilise les cookies 
            et autres technologies similaires lorsque vous visitez notre site web et utilisez nos services 
            (collectivement désignés le "Service"). Veuillez lire attentivement cette politique pour comprendre 
            comment nous utilisons les cookies et quelles sont vos options concernant leur utilisation.
        </p>

        <h3 class="titleReglement">1. Qu'est-ce qu'un cookie ?</h3>
            <p class="paraReglement">
                Un cookie est un petit fichier texte que le Service envoie à votre navigateur 
                et qui est stocké sur votre appareil lorsque vous visitez notre site web. Les 
                cookies peuvent avoir diverses finalités, notamment faciliter la navigation, 
                améliorer l'expérience utilisateur, analyser l'utilisation du site et personnaliser les publicités.
            </p>
        
        <h3 class="titleReglement">2. Types de cookies utilisés</h3>
            <p class="paraReglement">
                Nous utilisons les types de cookies suivants sur notre site web :
            </p>
            <ul>
                <li>
                    <p class="paraReglement">
                        Cookies essentiels : Ces cookies sont nécessaires au fonctionnement du Service et 
                        permettent d'accéder à certaines fonctionnalités. Ils sont généralement installés en 
                        réponse à des actions que vous effectuez, telles que la connexion à votre compte 
                        ou la sauvegarde de vos préférences.
                    </p>
                </li>
                <li>
                    <p class="paraReglement">
                        Cookies de performance : Ces cookies collectent des informations sur la manière 
                        dont vous utilisez le Service, telles que les pages que vous visitez le plus 
                        souvent ou les erreurs que vous rencontrez. Ces informations nous aident 
                        à améliorer la performance du Service.
                    </p>
                </li>
                <li>
                    <p class="paraReglement">
                        Cookies de fonctionnalité : Ces cookies permettent au Service de se souvenir 
                        de vos choix et de vous offrir des fonctionnalités améliorées et personnalisées. 
                        Par exemple, ils peuvent se souvenir de votre nom d'utilisateur, de vos 
                        préférences linguistiques ou de votre région.
                    </p>
                </li>
                <li>
                    <p class="paraReglement">
                        Cookies publicitaires : Ces cookies sont utilisés pour diffuser des 
                        publicités pertinentes pour vous et vos intérêts. Ils sont également utilisés 
                        pour limiter le nombre de fois où vous voyez une publicité et mesurer 
                        l'efficacité des campagnes publicitaires.
                    </p>
                </li>
            </ul>
            
        <h3 class="titleReglement">3. Consentement</h3>
            <p class="paraReglement">
                Lorsque vous visitez notre site web pour la première fois, nous affichons une bannière vous 
                informant de l'utilisation des cookies. En continuant à naviguer sur le site, vous consentez 
                à l'utilisation des cookies conformément à la présente politique. Vous pouvez retirer votre 
                consentement à tout moment en modifiant les paramètres de votre navigateur pour bloquer les 
                cookies ou pour être averti lorsque des cookies sont envoyés. Veuillez noter que la désactivation 
                des cookies peut affecter certaines fonctionnalités du Service.
            </p>
            
        <h3 class="titleReglement">4. Partage des informations</h3>
            <p class="paraReglement">
                Nous ne partageons pas vos informations personnelles identifiables avec des tiers à des 
                fins de marketing direct. Cependant, nous pouvons partager des informations agrégées ou 
                anonymisées avec nos partenaires commerciaux, notamment des annonceurs ou des 
                fournisseurs de services d'analyse.
            </p>
        
        <h3 class="titleReglement">5. Modification de la politique relative aux cookies</h3>
            <p class="paraReglement">
                Nous nous réservons le droit de modifier cette politique relative aux cookies 
                à tout moment. Les modifications prendront effet dès leur publication sur le site 
                web. Nous vous encourageons à consulter régulièrement cette politique pour 
                prendre connaissance des éventuelles mises à jour.
            </p>
            
        <h3 class="titleReglement">6. Nous contacter</h3>
            <p class="paraReglement">
                Si vous avez des questions ou des préoccupations concernant notre politique 
                relative aux cookies, veuillez nous contacter à contact@videgrenierenligne.fr.
            </p>
        
    </div>

</div>

{% endblock %}