<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
    Email : {{ email }} <br>
    Sujet : {{ subject }} <br>
    <br>
    {{ nom }} souhaite entrer en contact avec vous ! <br>
    <br>
    Commentaire : {{ comment }}
</body>
</html>