<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
{{ nom }} souhaite entrer en contact avec vous ! <br>
Sujet : {{ subject }} <br>
Commentaire : {{ comment }} <br>
Email : {{ email }}
</body>
</html>