{% extends "base.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container-fluid bg-image">
    <div class="row">
        <div class="login-wraper">
            <div class="hidden-xs">
                <img src="images/login.jpg" alt="">
            </div>
            <div class="banner-text">
                <div class="line"></div>
                <div class="b-text">
                    Des <span class="color-active">centaines<br> </span> <span class="color-b1">d'articles vous
                </span>attendent
                </div>
            </div>
            <div class="login-window">
                <div class="l-head">
                    Connexion
                </div>
                <div class="l-form">
                    {% if session.flash %}
                        <div class="alert-{{ session.flash.type}} alert" id="flash">
                            {{ session.flash.message }}
                        </div>
                    {% endif %}
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email"
                                   placeholder="sample@gmail.com">
                        </div>
                        <div class="">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                   name="password" placeholder="**********">
                        </div>
                        <div class="row">
                            <div class="col-lg-12 oublimdp">
                                <a href="#" data-toggle="modal" data-target="#mdpModal">Mot de passe oublié ?</a>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <label class="checkbox">
                                    <input type="checkbox" name="remember">
                                    <span class="arrow"></span>
                                </label> <span>Se souvenir de moi</span>
                                <span class="text2">(non recommandé si vous êtes sur un ordinateur partagé)</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-cv1">Connexion</button>
                        </div>
                        <div class="row">
                            <p class="rejoindre">Envie de nous rejoindre ? <span class="signuptext"><a href="/register">Inscription</a></span></p>
                        </div>
                    </form>

                    <!-- Modal -->
                    <div class="modal fade" id="mdpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                                <div class="row justify-content-center">
                                    <div class="col-lg-12 col-xl-8">
                                        <div class="modif-header text-center">
                                            <h2>
                                                Récupération du mot de passe
                                            </h2>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-body">
                                    <form action="/forgot" method="post" class="modal-body mx-3">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="modif-input">
                                                    <i class="fa fa-envelope"></i>
                                                    <input type="email" id="emailRecuperation" name="emailRecuperation" placeholder="ADRESSE MAIL">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="modif-submit text-center">
                                                    <input type="submit" name="submit" value="ENVOYER">
                                                </div>
                                            </div>
                                        </div>    
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
