{% extends "base.html.twig" %}

{% block title %}Changement{% endblock %}

{% block body %}
<div class="container-fluid bg-image">
  <div class="row">
    <div class="login-wraper">
      <div class="hidden-xs">
        <img src="images/login.jpg" alt="">
      </div>
      <div class="login-window register-form">
        <div class="l-head">
          Changer de mot de passe
        </div>

        <div class="l-form">
          {% if session.flash %}
          <div class="alert-danger alert">
            {{ session.flash }}
          </div>
          {% endif %}
          <form method="post" action="">
            <div class="form-group">
              <label for="exampleInputPassword1">Mot de passe</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="**********" name="password" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword2">Confirmation du mot de passe</label>
              <input type="password" class="form-control" id="exampleInputPassword2" placeholder="**********" name="password-check" required>
            </div>
            <div class="form-group">
              <button type="submit" name="submit" class="btn btn-cv1">Changer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
